.carousel-item {
    position: relative;

    overflow: hidden;
    
}

.box-carousel {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

}

.img-shoes-item {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(196, 193, 193, 0.305);

    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-shoes-item img {
    object-fit: cover;
    transform: rotate(10deg);

    width: 50%;
    height: 50%;
}

.box-carousel:hover .content-shoes-item {
    opacity: 1;
    cursor: pointer;
}

.content-shoes-item {
    opacity: 0;
    transition: 0.2s ease-in-out;

    position: relative;
    z-index: 100;

    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content-shoes-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    z-index: 99;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.366);
}

.name-item {
    position: relative;
    z-index: 101;

    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.description-item {
    position: relative;
    z-index: 101;

    color: white;
    font-size: 1rem;
    font-weight: bold;

}

.detail {
    position: relative;
    z-index: 101;

    padding: 5px 30px;
    border-radius: 50px;
    font-weight: bold;

    margin-top: 30px;
}

