.col-4 {
    margin-bottom: 50px;

}

.ant-card-bordered {
    border: 2px solid #f0f0f0 !important;
}


.ant-card-cover img {
    border-bottom: 1px solid rgba(0, 0, 0, 0.225);
    
}


.ant-card-body {
    padding: 0 15px!important;
    height: 80px;

    padding-top: 10px !important;
}

.box-content-card {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.225);
}

.box-price-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    padding: 0 10px;
}

.price {
    margin: 0;
    font-weight: bold;
}

.box-price-card button {
    border-radius: 20px;
    border: none;
    background: linear-gradient(-135deg,#c850c0,#4158d0);

    padding: 10px;
    font-size: .9rem;
    font-weight: 700;
    color: white;
}

.box-price-card .fa-shopping-cart {
    padding: 3px 8px;
}
