.modal-dialog{
    margin: 0;
    width: 100%;
    margin-left: 350px !important;
    margin-top: 100px !important;
}

.modal-content {
    width: 160% !important;
}

.box-show-cart ul {
    text-align: center;
}

.box-show-cart ul li {
    display: inline-block;
    padding-right: 30px;
}

.title-item-cart {
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 300px; 
    height: 1.2em; 
    white-space: nowrap;

    margin-right: 30px;
    font-weight: bold;

}

.price-item-cart {
    font-weight: bold;
}

.count .number {
    font-weight: bold;
}

.count span {
    padding: 3px 10px;
    border-radius: 30px;
}

.btn-detail-cart {
    font-weight: bold;
}
